<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span> <span class="text-muted text-xs block">Art Director</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    AST
                </div>
            </li>
            <li>
                <a href="@Url.Action("Index", "Admin")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Dashboard</span></a>
            </li>
            <li>
                <a href="@Url.Action("Campaign", "Admin")"><i class="fa fa-bullhorn"></i> <span class="nav-label" data-i18n="nav.layouts">Create Campaign</span></a>
            </li>
            <li>
                <a href="@Url.Action("AddQuestions", "Admin")"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.layouts">Add Resolution</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index", "EmailTempate")"><i class="fa fa-envelope"></i> <span class="nav-label" data-i18n="nav.layouts">Email Template</span></a>
            </li>
            <li>
                <a href="@Url.Action("Import", "Admin")"><i class="fa fa-user-plus"></i> <span class="nav-label" data-i18n="nav.layouts">Import Shareholder</span></a>
            </li>
            <li>
                <a href="@Url.Action("Ballot", "Admin")"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.layouts">Proxy Voting</span></a>
            </li>


        </ul>
    </div>
</nav>